.drawing-board {
    height: 250px;
    width: 250px;
    background-color: white;
}

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: slategrey;
    
    height: 100%;
    width: 100%;
}

.message-container {
    width: 500px;
    height: 500px;

    padding: 25px;
}

.test-button {
    position: absolute;
    right: 280px;
    bottom: 100px;
}