.message {
    border-radius: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: 40px 1fr;
}

.message-content {
    padding: 0px 4px;
}

.message-content-header {
    font-weight: 700;
}

.message-role-icon {
    padding: 3px 3px;
}