.true-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.info-button {
    height: 30px;
    width: 30px;

    position: absolute;
    right: 20px;
    bottom: 10px;

    cursor: pointer;

    path {
        fill: aqua;
        stroke: aqua;
    }
}