.info-screen {
    position: absolute;
    top: 0px;

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 2fr 7fr;
    gap: 40px;

    padding: 100px 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.info-box {
    height: 100%;
    width: 100%;

    padding: 30px;

    background-color: rgb(148 163 169);
    
    opacity: .9;

    border-radius: 10px;
}

.info-nav {
    height: 100%;
    width: 100%;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(148 163 169);
    opacity: .9;

    border-radius: 10px;
}

.info-nav-topic--title {

    display: flex;
    flex-direction: row;
    gap: 15px;

    font-size: larger;
    font-weight: 600;
}

.info-nav-item-container {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-nav-item {

    height: 40px;
    padding-left: 30px;
    border-radius: 4px;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
        background-color: rgb(178 185 187);
    }
}

.img-github-link {
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: inline;
}