.slime-screen {
    display: flex;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-out;

    background-color: #aeb8c2;

    border-color: rgb(71, 71, 71);

    &.screen-mode--mobile {
        width: 400px;
        height: 800px;

        border-style: solid;
        border-radius: 25px;
        border-width: 20px 10px 20px 10px;
    }

    &.screen-mode--tablet {
        width: 1000px;
        height: 700px;

        border-style: solid;
        border-radius: 25px;
        border-width: 20px 50px 20px 50px;
    }
}