.prompt-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.prompt-input {
    width: 100%;
    max-width: 800px;
    height: 45px;

    padding: 10px 20px;

    border: none;
    border-radius: 15px;

    background-color: #dce2e7;
}

